:root{
    --color-bg-primary: #8C52E5;   
    --color-bg-secondary: #EAEAEA;
    --color-bg-card: #FBFBFB;
    --color-bg-green: #68DE5A;
    --color-bg-white: #FFFFFF;
    
    --font-weight-thin: 100;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

}
