.card {
    &_title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__action button {
        background: var(--color-bg-green);
        color: var(--color-bg-white);
        
    }

    &__link {
        margin: 0.5em;
    }

    &__footer a {
        font-size: 0.9em;
        color: #8C52E5;
        text-decoration: none;
        font-weight: var(--font-weight-medium);
    }
}

/* responsive media query start */

@media (min-width: 486px){
    .card {
        &__action button {
            width: 400px;
        }
    }

}