<app-header></app-header>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card_title">Esqueci minha senha</h1>
            <p>Confirme seu CPF e escolha sua nova senha</p>
            
            <form class="mb-3">
                <div class="mb-3">
                  <input type="text" class="form-control input-default" placeholder="Confirme seu CPF">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control input-default" placeholder="Digite sua nova senha">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control input-default" placeholder="Confirme sua nova senha">
                  </div>
                <div class="card__action">
                    <button class="btn button-default">
                        <span>Enviar</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>              
            </form>

        </div>
    </div>
</div>