<nav class="navbar navbar-light" >
    <a class="navbar__logo" href="#">
      <img src="../../../assets/images/gama-academy-logo-vertical-verde.svg" width="125" height="125" class="d-inline-block align-top" alt="">
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"> 
                <img src="../../../assets/images/logo-pix.png" width="28" height="28" />
                <span class="nav-link__description">Depósitos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="../../../assets/images/logo-pix.png" width="28" height="28" />
                <span class="nav-link__description">Planos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="../../../assets/images/logo-pix.png" width="28" height="28" />
                <span class="nav-link__description">Pagamentos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/transacoes" routerLinkActive="ativado">
                <img src="../../../assets/images/logo-pix.png" width="28" height="28" />
                <span class="nav-link__description">Transações</span>
            </a>
        </li>
    </ul>
</nav>