<div class="card-container ">
    <div class="car_one">
        <div class="card-body">

            <div class="_header_card">
                <img src="../../../assets/images/moeda.svg" alt="">
                <p>Conta</p>
            </div>

            <div class="secction-span">
                <label>Saldo Disponivel</label>
                <span>R$: {{ contaBanco.saldo }}</span>
            </div>

            <div class="footer-card">
                <label>Transações</label>
                <span>R$: 2.120,00</span>
            </div>
        </div>


    </div>
    <div class="car_two">
        <div class="card-body">

            <div class="_header_card">
                <img src="../../../assets/images/card.svg" alt="">
                <p>Conta Crédito</p>
            </div>

            <div class="secction-span">
                <label>Fatura Atual</label>
                <span>R$: {{ contaCredito.saldo }}</span>
            </div>

            <div class="footer-card">
                <label>Limite Disponível</label>
                <span>R$: 2.120,00</span>
            </div>

        </div>
    </div>
</div>
<div class="card-tree-container">
    <div class="card_tree">
        <div class="card-body">

            <div class="_header_card">
                <img src="../../../assets/images/moeda.svg" alt="">
                <p>Últimos Lançamentos</p>
            </div>

            <div class="lancamentos-span">
                <img src="../../../assets/images/Group.png" alt="">
                
                    <label>Compra no Débito</label>     
                    <p>GamaAcademy</p>
                    <span>R$: 120,00</span>
            </div>
        </div>
    </div>
</div>